.footer{
    background-color: #d2d6db;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .footertitle{
        text-align: center;
        font-size: 14px;
        font-family: sans-serif;
        color: black;
        span{
            font-weight: bolder;
            color: #131415;
        }
    }
}