.main_body{
    background-color: #f8f8f2;
}

.homepage{
    margin-top: 30px;
    background-color: #FFF;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.post{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

}